/*home page*/

header{

  text-align: center;
}	
body{
font-size:25px;
font-family: Arial;
margin: 20px;
background-color:white;
background-image:url(https://espresso-experts.com/cdn/shop/articles/Image_1_9efb8017-e0d3-446b-ba4d-f3b0a609eb01.jpeg?v=1548512914);
background-repeat: no-repeat;
background-position: center;
background-size: 1300px 1100px;

}
.menu{
width:500px;
font-size:15px;
font-family: Arial;
margin: auto;
padding:30px;
background-color:#C4A484;
	

}

.price{
	margin:450px;
	

}

footer{
	text-align:center;
}